<footer class="container page">
    <div class="row">
        <div class="col-xs-12">
            <p>
              All rights reserved 2014, Lindsay Silver /
              <a href="http://twitter.com/gonewandering">Twitter</a> /
              <a href="http://github.com/gonewandering">Github</a>
            </p>
        </div>
    </div>
</footer>



<script>
  var sensor = {
    sid: "NNEEVSB9",
    oid: "ZZ4TGD24"
  }

  sensor.dim0 = "pageview";
  sensor.dim1 = window.location.href;

  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("POST", "https://us-central1-monarch-data.cloudfunctions.net/sensor-http");
  xmlhttp.setRequestHeader("Content-Type", "application/json");
  xmlhttp.send(JSON.stringify(sensor));
</script>
