---
layout: default
---
<div class="post container">
    <div class="row">
        <div class="col-xs-12 post-detail">
            <header class="post-header">
                <p><strong>RECIPES</strong></p>
                <h2 class="post-title">{{ page.title }}</h2>
            </header>
            <article class="post-content">
            {{ content }}
            </article>
            <small class="meta">{{ page.location }} / {{ page.date | date: "%b %-d, %Y" }} in {{ page.categories | array_to_sentence_string }}</small>
        </div>
    </div>
</div>
